@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Luckiest+Guy&display=swap');
body {
  
  h2[class="mainHeader"] {
    text-align: center;
    font-size: 2.7em;
    font-family: 'Cabin', sans-serif;
  }
  .etudiant {
    text-align: center;
    font-style: italic;
  }
}

#main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 70%;
  // border: 1px solid black;
  margin: auto;
  .blogs {
    display: flex;
    flex-direction: row;
    border-bottom: 0.4px solid grey;
    // border: 1px solid red;
    .thumbnail {
      width: 25%;
      // border: 1px solid blue;
      height: 115px;
      width: 110px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .blog {
      padding-left: 4%;
      width: 74%;
      // border: 1px solid orange;
      .author {
        font-style: italic;
      }
      h3 {
        color:rgb(29, 163, 29);
      }
    }
    
  }
}
